<div id="load" class="cards">
	  <div class="card senid">
        <h4><i class="fas fa-building"></i> Sensor ID </h4><p><span class="reading">{{senid}}</span></p>
      </div>
	  <div class="card room">
        <h4><i class="fas fa-building"></i> ROOM NAME </h4><p><span class="reading">{{room}}</span></p>
      </div>
	  <div class="card temperature">
        <h4><i class="fas fa-thermometer-half"></i> TEMPERATURE </h4><p><span class="reading">{{temp}} &deg;C</span></p>
      </div>
      <div class="card humidity">
        <h4><i class="fas fa-tint"></i> HUMIDITY </h4><p><span class="reading">{{hum}} &percnt;</span></p>
      </div>
	  <div class="card time">
        <h4><i class="fas fa-clock"></i> TIME </h4><p><span class="reading">{{time}}</span></p>
      </div>
</div>